<app-title></app-title>
<app-left></app-left>
<app-cat></app-cat>
<div class="container">
  <dl class="list">
    <dt>Titre</dt>
    <dd>{{ game.title }}</dd>
    <dt>Développeur</dt>
    <dd>{{ game.developer }}</dd>
    <dt>Editeur</dt>
    <dd>{{ game.publisher }}</dd>
    <dt>Année de publication</dt>
    <dd>{{ game.published_year }}</dd>
  </dl>
  <div>
    <button class="btn btn-primary" type="button" id="addCollection" (click)="addGame(game._id, 'gamesCollection')">Ajouter à la
      Collection
    </button>
    <button class="btn btn-primary" type="button" id="addEnvie" (click)="addGame(game._id, 'gamesEnvies')">Ajouter à la Liste
      d'Envies
    </button>
    <button [routerLink]="['/game-edit', game._id]" class="btn btn-default">Éditer</button>
    <button class="btn btn-danger" type="button" (click)="deleteGame(game._id)">Supprimer</button>
  </div>
  <div>
    <h1> Note : {{ note }}/10 </h1>
  </div>
  <div>
    <table class="table table-bordered">
      <tr>
        <th id="colUser">Utilisateur</th>
        <th>Avis</th>
      </tr>
      <tr *ngFor="let iteration of myStruct">
        <td>{{ iteration.user }}</td>
        <td>{{ iteration.avis }}</td>
      </tr>
    </table>
  </div>
</div>




