<app-title></app-title>
<app-left></app-left>
<app-cat></app-cat>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-8">
            <h4>
              {{ username }}
            </h4>
            <p>
              <i class="glyphicon glyphicon-envelope"></i> {{ mail }}
              <br />
              <button (click)="edit()" type="button" class="btn btn-primary">
                Éditer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
