<app-title></app-title>
<app-left></app-left>
<app-cat></app-cat>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="updateAlbum(album._id, album)" #albumForm="ngForm">
        <div class="form-group">
          <div class="form-group">
            <label for="name">Titre</label>
            <input type="text" class="form-control" [(ngModel)]="album.title" name="title" required>
          </div>
          <div class="form-group">
            <label for="name">Auteur</label>
            <input type="text" class="form-control" [(ngModel)]="album.author" name="author" required>
          </div>
          <div class="form-group">
            <label for="name">Année de publication</label>
            <input type="number" class="form-control" [(ngModel)]="album.published_year" name="published_year" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!albumForm.form.valid">Update</button>
            <button class="btn btn-danger" [routerLink]="['/album-detail/',album._id]">Annuler</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>