<app-title></app-title>
<app-left></app-left>
<app-cat></app-cat>
<div class="container">
    <dl class="list">
        <dt>Titre</dt>
        <dd>{{ book.title }}</dd>
        <dt>Auteur</dt>
        <dd>{{ book.author }}</dd>
        <dt>Année de publication</dt>
        <dd>{{ book.published_year }}</dd>
    </dl>
    <div>
        <button class="btn btn-primary" type="button" id="addCollection" (click)="addBook(book._id, 'booksCollection')">Ajouter à la
            Collection
        </button>
        <button class="btn btn-primary" type="button" id="addEnvie" (click)="addBook(book._id, 'booksEnvies')">Ajouter à la Liste
            d'Envies
        </button>
        <button [routerLink]="['/book-edit', book._id]" class="btn btn-default">Éditer</button>
        <button class="btn btn-danger" type="button" (click)="deleteBook(book._id)">Supprimer</button>
    </div>
    <div>
        <h1> Note : {{ note }}/10 </h1>
    </div>
    <div>
        <table class="table table-bordered">
                <tr>
                    <th id="colUser">Utilisateur</th>
                    <th>Avis</th>
                </tr>
                <tr *ngFor="let iteration of myStruct">
                    <td>{{ iteration.user }}</td>
                    <td>{{ iteration.avis }}</td>
                </tr>
        </table>
    </div>
</div>




