<app-title></app-title>
<app-cat></app-cat>
<app-left></app-left>
<div class="container">
  <h1>{{ book.title }}</h1>
  <dl class="list">
    <dt>ISBN</dt>
    <dd>{{ book.isbn }}</dd>
    <dt>Auteur</dt>
    <dd>{{ book.author }}</dd>
    <dt>Maison d'Édition</dt>
    <dd>{{ book.publisher }}</dd>
  </dl>
</div>
  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/book-edit', book._id]" class="btn btn-success">Éditer</a>
      <button class="btn btn-danger" type="button" (click)="deleteBook(book._id)">Supprimer</button>
    </div>
    <div class="row">
      <div class="col-md-12">
          <button class="btn btn-primary" type="button" (click)="addBook(book._id, 'booksCollection')">Ajouter à la Collection</button>
      </div>
      <div class="col-md-12">
        <button class="btn btn-primary" type="button" (click)="addBook(book._id, 'booksEnvies')">Ajouter à la Liste d'Envies</button>
      </div>
    </div>
  </div>