<app-title></app-title>
<app-left></app-left>
<app-cat></app-cat>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveBook()" #bookForm="ngForm">
        <div class="form-group">
          <label for="name">Titre</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="book.title" name="title" required>
        </div>
        <div class="form-group">
          <label for="name">Auteur</label>
          <input type="text" class="form-control" id="author" [(ngModel)]="book.author" name="author" required>
        </div>
        <div class="form-group">
          <label for="name">Année de Publication</label>
          <input type="number" class="form-control" id="year" [(ngModel)]="book.published_year" name="published_year" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" id="save" [disabled]="!bookForm.form.valid">Save</button>
          <button class="btn btn-danger" routerLink="/parcourir/books">Annuler</button>
        </div>
      </form>
    </div>
  </div>
</div>
