<app-title></app-title>
<app-left></app-left>
<app-cat></app-cat>
<div class="container">
  <dl class="list">
    <dt>Titre</dt>
    <dd>{{ movie.title }}</dd>
    <dt>Réalisateur</dt>
    <dd>{{ movie.director }}</dd>
    <dt>Acteurs principaux</dt>
    <dd>{{ movie.actors }}</dd>
    <dt>Année de publication</dt>
    <dd>{{ movie.published_year }}</dd>
  </dl>
  <div>
    <button class="btn btn-primary" type="button" id="addCollection" (click)="addMovie(movie._id, 'moviesCollection')">Ajouter à la
      Collection
    </button>
    <button class="btn btn-primary" type="button" id="addEnvie" (click)="addMovie(movie._id, 'moviesEnvies')">Ajouter à la Liste
      d'Envies
    </button>
    <button [routerLink]="['/movie-edit', movie._id]" class="btn btn-default">Éditer</button>
    <button class="btn btn-danger" type="button" (click)="deleteMovie(movie._id)">Supprimer</button>
  </div>
  <div>
    <h1> Note : {{ note }}/10 </h1>
  </div>
  <div>
    <table class="table table-bordered">
      <tr>
        <th id="colUser">Utilisateur</th>
        <th>Avis</th>
      </tr>
      <tr *ngFor="let iteration of myStruct">
        <td>{{ iteration.user }}</td>
        <td>{{ iteration.avis }}</td>
      </tr>
    </table>
  </div>
</div>




