<div id="cat">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link " routerLink="/{{currentAction}}/albums">Musique</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/{{currentAction}}/books">Livres</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/{{currentAction}}/movies">Films</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/{{currentAction}}/series">Séries</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/{{currentAction}}/games">Jeux Vidéo</a>
    </li>

  </ul>
</div>