<app-title></app-title>
<app-left></app-left>
<app-cat></app-cat>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Titre</th>
      <th>Auteur</th>
      <th>Année de publication</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let album of albums">
      <td>{{ album.title }}</td>
      <td>{{ album.author }}</td>
      <td>{{album.published_year}}</td>
      <td><button class="btn btn-default" [routerLink]="['/album-detail', album._id]">Détails</button></td>
      <td><button class="btn btn-danger" (click)="removeAlbum(album._id)">Retirer de ma liste d'envies</button></td>
    </tr>
    </tbody>
  </table>
</div>
