<app-title></app-title>
<app-left></app-left>
<app-cat></app-cat>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveGame()" #gameForm="ngForm">
        <div class="form-group">
          <label for="name">Titre</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="game.title" name="title" required>
        </div>
        <div class="form-group">
          <label for="name">Développeur</label>
          <input type="text" class="form-control" id="developer" [(ngModel)]="game.developer" name="developer" required>
        </div>
        <div class="form-group">
          <label for="name">Editeur</label>
          <input type="text" class="form-control" id="publisher" [(ngModel)]="game.publisher" name="publisher" required>
        </div>
        <div class="form-group">
          <label for="name">Année de Publication</label>
          <input type="number" class="form-control" id="year" [(ngModel)]="game.published_year" name="published_year" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" id="save" [disabled]="!gameForm.form.valid">Save</button>
          <button class="btn btn-danger" routerLink="/parcourir/games">Annuler</button>
        </div>
      </form>
    </div>
  </div>
</div>
