<app-title></app-title>
<app-left></app-left>
<app-cat></app-cat>
<div class="container">
  <button type="button" id="addSerie" class="btn btn-info btn-lg btn3d"   [routerLink]="['/serie-create']">Créer la fiche d'un livre manquant</button>
  <table class="table">
    <thead>
    <tr>
      <th>Titre</th>
      <th>Réalisateur</th>
      <th>Acteurs principaux</th>
      <th>Année de publication</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let serie of series">
      <td>{{ serie.title }}</td>
      <td>{{ serie.director }}</td>
      <td>{{ serie.actors }}</td>
      <td>{{serie.published_year}}</td>
      <td><button class="btn btn-default" [routerLink]="['/serie-detail', serie._id]">Détails</button></td>
    </tr>
    </tbody>
  </table>
</div>
