<app-title></app-title>
<app-cat></app-cat>
<app-left></app-left>
<div class="container">
  <h1>Serie List</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Titre</th>
      <th>Réalisateur</th>
      <th>Chaîne</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let serie of series">
      <td>{{ serie.title }}</td>
      <td>{{ serie.director }}</td>
      <td>{{ serie.channel }}</td>
      <td><a [routerLink]="['/serie-detail', serie._id]">Détails </a></td>
      <button type="button" href="" (click)="removeSerie(serie._id)" class="btn btn-danger">Supprimer</button>
    </tr>
    </tbody>
  </table>
</div>
