<app-title></app-title>
<app-left></app-left>
<app-cat></app-cat>
<div class="container">
  <div class="form-group">
    <form (ngSubmit)="addAvis(album._id)" #avisForm="ngForm">
      <label for="name" >Avis:</label>
      <input type="text" class="form-control" [(ngModel)]="avis" name="avis">
      <button type="submit" class="btn btn-success" [disabled]="!avisForm.form.valid">Envoyer</button>
    </form>
    <form (ngSubmit)="note(album._id)" #avisForm="ngForm">
      <label for="name" >note:</label>
      <input type="number" min="0" max="10" class="form-control" [(ngModel)]="userNote" name="note">
      <button type="submit" class="btn btn-success" [disabled]="!avisForm.form.valid">Envoyer</button>
    </form>
  </div>
</div>