<app-title></app-title>
<app-left></app-left>
<app-cat></app-cat>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Titre</th>
      <th>Développeur</th>
      <th>Editeur</th>
      <th>Année de publication</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let game of games">
      <td>{{ game.title }}</td>
      <td>{{ game.developer }}</td>
      <td>{{ game.publisher }}</td>
      <td>{{game.published_year}}</td>
      <td><button class="btn btn-default" [routerLink]="['/game-detail', game._id]">Détails</button></td>
      <td><button class="btn btn-default" id="addnote" [routerLink]="['/game-avis/', game._id]">Donner un avis</button></td>
      <td><button class="btn btn-danger" (click)="removeGame(game._id)">Retirer de ma liste d'envies</button></td>
    </tr>
    </tbody>
  </table>
</div>

