<app-title></app-title>
<app-left></app-left>
<app-cat></app-cat>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Titre</th>
      <th>Auteur</th>
      <th>Année de publication</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{book.published_year}}</td>
      <td><button class="btn btn-default" [routerLink]="['/book-detail', book._id]">Détails</button></td>
      <td><button class="btn btn-default" id="addnote" [routerLink]="['/book-avis/', book._id]">Donner un avis</button></td>
      <td><button class="btn btn-danger" (click)="removeBook(book._id)">Retirer de ma liste d'envies</button></td>
    </tr>
    </tbody>
  </table>
</div>

