
<nav class="navbar navbar-default navbar-inverse" role="navigation">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Projet Web</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a  routerLink="" href="#">Mon compte</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="hi" >Connecté en tant que {{currentUser?.username}}  </li>
      <li> <button type="button"  (click)="deco()" class="btn btn-primary">Deconnexion</button></li>
    </ul>

  </div><!-- /.navbar-collapse -->

</nav>
