<app-title></app-title>
<app-left></app-left>
<app-cat></app-cat>
<div class="container">
  <dl class="list">
    <dt>Titre</dt>
    <dd>{{ serie.title }}</dd>
    <dt>Réalisateur</dt>
    <dd>{{ serie.director }}</dd>
    <dt>Acteurs principaux</dt>
    <dd>{{ serie.actors }}</dd>
    <dt>Année de publication</dt>
    <dd>{{ serie.published_year }}</dd>
  </dl>
  <div>
    <button class="btn btn-primary" type="button" id="addCollection" (click)="addSerie(serie._id, 'seriesCollection')">Ajouter à la
      Collection
    </button>
    <button class="btn btn-primary" type="button" id="addEnvie" (click)="addSerie(serie._id, 'seriesEnvies')">Ajouter à la Liste
      d'Envies
    </button>
    <button [routerLink]="['/serie-edit', serie._id]" class="btn btn-default">Éditer</button>
    <button class="btn btn-danger" type="button" (click)="deleteSerie(serie._id)">Supprimer</button>
  </div>
  <div>
    <h1> Note : {{ note }}/10 </h1>
  </div>
  <div>
    <table class="table table-bordered">
      <tr>
        <th id="colUser">Utilisateur</th>
        <th>Avis</th>
      </tr>
      <tr *ngFor="let iteration of myStruct">
        <td>{{ iteration.user }}</td>
        <td>{{ iteration.avis }}</td>
      </tr>
    </table>
  </div>
</div>




