<app-title></app-title>
<app-left></app-left>
<app-cat></app-cat>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Titre</th>
      <th>Réalisateur</th>
      <th>Acteurs principaux</th>
      <th>Année de publication</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.title }}</td>
      <td>{{ movie.director }}</td>
      <td>{{ movie.actors }}</td>
      <td>{{movie.published_year}}</td>
      <td><button class="btn btn-default" [routerLink]="['/movie-detail', movie._id]">Détails</button></td>
      <td><button class="btn btn-danger" (click)="removeMovie(movie._id)">Retirer de ma liste d'envies</button></td>
    </tr>
    </tbody>
  </table>
</div>
