<app-title></app-title>
<app-left></app-left>
<app-cat></app-cat>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="updateSerie(serie._id, serie)" #serieForm="ngForm">
        <div class="form-group">
          <div class="form-group">
            <label for="name">Titre</label>
            <input type="text" class="form-control" [(ngModel)]="serie.title" name="title" required>
          </div>
          <div class="form-group">
            <label for="name">Réalisateur</label>
            <input type="text" class="form-control" [(ngModel)]="serie.director" name="director" required>
          </div>
          <div class="form-group">
            <label for="name">Acteurs principaux</label>
            <input type="text" class="form-control" [(ngModel)]="serie.actors" name="actors" required>
          </div>
          <div class="form-group">
            <label for="name">Année de publication</label>
            <input type="number" class="form-control" [(ngModel)]="serie.published_year" name="published_year" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!serieForm.form.valid">Update</button>
            <button class="btn btn-danger" [routerLink]="['/serie-detail/',serie._id]">Annuler</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>