<app-title></app-title>
<app-left></app-left>
<app-cat></app-cat>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="updateGame(game._id, game)" #gameForm="ngForm">
        <div class="form-group">
          <div class="form-group">
            <label for="name">Titre</label>
            <input type="text" class="form-control" [(ngModel)]="game.title" name="title" required>
          </div>
          <div class="form-group">
            <label for="name">Développeur</label>
            <input type="text" class="form-control" [(ngModel)]="game.developer" name="developer" required>
          </div>
          <div class="form-group">
            <label for="name">Editeur</label>
            <input type="text" class="form-control" [(ngModel)]="game.publisher" name="publisher" required>
          </div>
          <div class="form-group">
            <label for="name">Année de publication</label>
            <input type="number" class="form-control" [(ngModel)]="game.published_year" name="published_year" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!gameForm.form.valid">Update</button>
            <button class="btn btn-danger" [routerLink]="['/game-detail/',game._id]">Annuler</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>